body {
	padding: 20px;
	background-color: #FFFCF9;
	color: #000F00;
}
#header {
	font-family: 'Nova Oval', cursive; 
	color: #7ACC29;
	font-size: 300%;
	margin-top: 0px;
	margin-bottom: 10px;
	text-align: center;
}
.more {
	font-weight: bold;
}
a {
	font-family: 'Raleway', sans-serif;
	color: #000F00;
	text-decoration: none;
}
a:hover {
	color: #7ACC29;
	text-decoration: underline;
}
ul {
	text-align: justify;
}
li {
	list-style: none;
	display: inline-block;
	margin: 10px;
	padding: 5px;
	background-color: #F2FAEA;
	border-radius: 5px;
}
p {
	font-family: 'Raleway', sans-serif; 
	font-size: 16px;
}
h2 {
	font-family: 'Raleway', sans-serif; 
	font-size: 800;
	border-top-style: solid; border-top-color: #7ACC29;
	padding-top: 10px;
}
#social {
	font-family: 'Raleway', sans-serif;
	padding-top: 25px;
	}
address {
	font-family: 'Raleway', sans-serif;
	}
.clear {
	clear: both;
	margin-top: 20px;
}
h3 {
	font-family: 'Raleway', sans-serif;
	font-size: 600;
}
#staff {
	text-align: center;
	}
img {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
nav {
	padding-bottom: 20px;
}
#contact {
	background-color: #DCDCDC;
	border-style: solid;
	border-color: #7ACC29;
	border-radius: 15px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 15px;
	}
dl {
	font-family: 'Raleway', sans-serif;
}
#tagline {
	text-align: center;
}